*{
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

body{
  background-color: #efefef;
}

.container{
  display: flex;
  justify-content: center;
  height: 100%;
}

.card{
  margin-top: 200px;
  width: 340px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  background-color: #ffffff;
  padding: 24px;
  border-radius: 8px;
  box-shadow: 0px 1px 2px -1px rgb(0 0 0 / 0.10), 0px 1px 3px 0 rgb(0 0 0 / 0.10);
  padding: 24px;
}

.profile{
  display: flex;
}

.profile-img{
  width: 48px;
  height: 48px;
  border-radius: 50%;
}

.profile-identification{
  flex: 1;
  margin-left: 16px;
}

.profile-name{
  font-family: "Noto Sans";
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  text-align: justify;
  color: #171717;
}

.profile-handle{
  font-family: "Noto Sans";
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #525252;
}

.card-desc{
  font-family: "Noto Sans";
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #525252;
  text-overflow: clip;
}